<div id="welcome">
  <div class="container">

    <div  style="display: inline-flex;">
      <h2>Developers</h2>
      <a href="/developers/add-developers"><button class="btn btn-outline-info ml-2" style="">Add New</button></a>
    </div>

    <hr/>
    <div class="card">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Manager</th>
            <th scope="col">Total W/Hours</th>
            <th scope="col">Total Overtime</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>

          <% if(developers) { %>
            <% developers.forEach (developers => { %>
              <tr>
                <td><%=developers.fullName %></td>
                <td><%=developers.emailAddress %></td>
                <td><%=developers.isAdmin %></td>
                <td><%=developers.isManager %></td>
                <td><%=developers.devSummary.workHours %></td>
                <td><%=developers.devSummary.overTimeHours %></td>
                <td><a class="btn btn-outline-secondary ml-2 btn-sm" href="/developers/edit-developers/<%=developers.id %>"><img class="cloud cloud-1" alt="A pencil icon" src="/images/edit.png"/></a></td>
              </tr>
            <%  }) %>
          <% } %>

        </tbody>
      </table>
    </div>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
