<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h2 class="text-center">Add a Project</h2>
    <div class="signup-form">
      <hr/>
      <!-- <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm"> -->
      <form action="/add-projects/add" method="POST">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" name="projectName" placeholder="eg: Task Tracker">
        </div>
        <div class="form-group">
          <label for="projectDescription">Project Description</label>
          <textarea class="form-control" id="projectDescription" name="projectDescription" rows="4" placeholder="A brief description of this project"></textarea>
        </div>
        <div class="form-group">
          <label for="projectManager">Project Manager</label>
          <select class="form-control" id="projectManager" name="projectManager">

            <% if(managers) { %>
              <% managers.forEach (managers => { %>
                <option value="<%=managers.id %>"><%=managers.fullName %></option>
              <%  }) %>
            <% } %>

          </select>
        </div>
        <!-- <div class="form-group">
          <label for="projectMembers">Project Members</label>
          <input type="text" class="form-control" id="projectMembers" name="projectMembers" placeholder="Some searchable thing...">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{selectedDev01.name}</th>
                <td>
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">{selectedDev02.name}</th>
                <td>
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">{selectedDev03.name}</th>
                <td>
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <div class="form-group">
          <label for="projectMembers">Project Members</label>
          <select class="form-control" id="projectMembers" name="projectMembers">

            <% if(developers) { %>
              <% developers.forEach (developers => { %>
                <option value="<%=developers.id %>"><%=developers.fullName %></option>
              <%  }) %>
            <% } %>

          </select>
        </div>
        <button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Add Project</button>
      </form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
