<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h2 class="text-center">Edit Task Details</h2>
    <div class="signup-form">
      <hr/>
      <!-- <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm"> -->
      <form action="/tasks/edit-tasks/edit" method="POST">
        <input type="hidden" class="form-control" id="id" name="id" value="<%=task.id %>">
        <div class="form-group">
          <label for="project">Task Project</label>
          <select class="form-control" id="project" name="project">

            <% if(projects) { %>
              <% projects.forEach ( project => { %>
                <% if (project.id != task.project.id) {%>
                  <option value="<%=project.id %>"><%=project.projectName %></option>
                <%  } else {%>
                  <option value="<%=project.id %>" selected><%=project.projectName %></option>
              <%  }}) %>
            <% } %>

          </select>
        </div>
        <div class="form-group">
          <label for="taskName">Task Name</label>
          <input type="text" class="form-control" id="taskName" name="taskName" value="<%=task.taskName %>">
        </div>
        <div class="form-group">
          <label for="taskDescription">Task Description</label>
          <textarea type="text" class="form-control" id="taskDescription" name="taskDescription" rows="4" value=""><%=task.taskDescription %></textarea>
        </div>
        <div class="form-group">
          <label for="taskHours">Work Hours</label>
          <input type="text" class="form-control" id="taskHours" name="taskHours" value="<%=task.taskHours %>">
        </div>
        <div class="form-group">
          <label for="taskHours">Overtime Hours</label>
          <input type="text" class="form-control" id="taskHours" name="taskOvertime" value="<%=task.taskOvertime %>">
        </div>
        <button type="submit" class="btn-dark btn-lg btn-block">Edit Task</button>
      </form>
      <hr/>
      <button class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#deleteDevModal">Delete Task</button>
    </div>


    <div class="modal fade" id="deleteDevModal" name="deleteDevModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" name="exampleModalCenterTitle">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Warning: You are about to remove a task from the database
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a type="button" class="btn btn-danger" href="/tasks/edit-tasks/delete/<%=task.id%>">Delete Task</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
